.container{
    background-color: aqua;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap:10px;
    
}
li{
    list-style: none;
    
}
li a{
    text-decoration: none;
    padding:7px;
    color:aliceblue;
    font-size: small;
    text-align: center;
    
}
.container a:hover{
    background-color: brown;

}